[build]
target = "targets/x86_64-unknown-none.json"
target-dir = "target"

[target.x86_64-unknown-none]
rustflags = [
  "-C", "link-arg=-Tarch/x86_64/linker.ld",
  "-C", "relocation-model=static",
  "-C", "code-model=kernel",
  "-C", "panic=abort",
]
runner = "bash tools/run-x86_64-qemu.sh"

[target.aarch64-unknown-none]
rustflags = [
  "-C", "link-arg=-Tarch/aarch64/linker.ld",
  "-C", "relocation-model=static",
  "-C", "panic=abort"
]
runner = "bash tools/run-aarch64-qemu.sh"

[unstable]
build-std = ["core", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]
